{:deps {com.draines/postal {:mvn/version "2.0.5"}
        org.danielsz/lang-utils {:mvn/version "0.1.5"}
        org.danielsz/kryptos {:mvn/version "0.1.7"}
        clj-http/clj-http {:mvn/version "3.12.3"}}}
