{:deps {com.draines/postal {:mvn/version "2.0.5"}
        org.danielsz/lang-utils {:mvn/version "0.1.6"}
        org.danielsz/kryptos {:mvn/version "0.1.8"}
        clj-http/clj-http {:mvn/version "3.13.0"}}}
