{:deps {com.draines/postal {:mvn/version "2.0.4"}
        org.danielsz/lang-utils {:mvn/version "0.1.1"}
        org.danielsz/kryptos {:mvn/version "0.1.1"}
        clj-http {:mvn/version "3.10.0"}}}
